@font-face {
  font-family: Modernist;
  src: url(../fonts/Modernist/Modernist.otf)
}

@font-face {
  font-family: Signika;
  src: url(../fonts/Signika/Light.ttf)
}

.home-container {
  margin-top: 50px;
}

.big-title-container {
  display: inline-block;
  padding: 10px;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.Posts-Title {
  font-family: Modernist;
  font-size: 34px;
  margin-top: 9px;
  margin-bottom: 6px;
}

.subtitle {
  font-family: Signika;
  font-size: 24px;
  color: #303030;
  margin-bottom: 9px;
}

.post-preview:nth-child(odd){
  float: left;
}

.post-preview:nth-child(even){
  float: right;
}

.post-preview {
  border: 1px solid #d8d8d8;
  /* border-radius: 2px; */
  width: 485px;
  height: 250px;
  margin-top: 30px;
  position: relative;
}

.thumb {
  height: 250px;
  width: 200px;
  object-fit: cover;
}

.post-preview > div {
  display: inline-block;
}

.post-content {
  vertical-align: top;
  padding: 15px 12px 15px 12px;
  width: 261px;
  height: 220px;
  overflow: hidden;
}

.post-title {
  font-family: Modernist;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}

.post-description {
  font-family: Signika;
  color: #6C6C6C;
  font-size: 16px;
  margin-top: 6px;
  height: 100px;
  overflow: hidden;
}

.post-low {
  width: 261px;
  position: absolute;
  z-index: 100;
  bottom: 0px;
  background-color: #FFF;
  height: 64px;
}

.post-low > div {
  display: inline-block;
}

.post-details {
  font-size: 13px;
  position: relative;
  bottom: 12px;
  left: 10px;
  line-height: 20px;
}

.date {
  color: #6C6C6C;
}

.me-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3px;
}

.profile-pic {
  width: 56px;
  height: 56px;
  border-bottom: 1px solid #C10040;
  border-radius: 50%;
}